h1{
    /* Màu chữ */
    color: rgb(237, 14, 29);
    /* Kiểu chữ */
    font-style:italic;
    /* Phông chữ */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif, Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
    /* Chuyển hoa thường */
    text-transform:uppercase ;
    /* Căn lề */
    text-align: center;
    /* cỡ chữ */
    font-size: 100px;
}